/* styles.css */

.search-bar {
  width: 10%;
  margin-left: 10px;
  color: #202630;
  background-color: #313a4d; /* Set the background color to a slightly lighter shade of blue */
  border: 1px solid #384152;
}
.search-bar::placeholder {
  color: grey;
}
.navbar {
  background-color: #22252b !important;
}
.navbar-nav .nav-link {
  color: grey;
  font-weight: bold;
}
.navbar-nav .nav-link.active {
  color: white !important;
}
.sidebar {
  background-color: #22252b; /* Light grey color */
  padding: 10px;
  height: 100vh; /* Full height of the viewport */
  width: 250px; /* Fixed width, adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: start; /* Align items to the start (top) */
}
.small-links {
  font-size: 80%; /* Reduce font size by 50% */
}
.sidebar {
  width: 200px; /* Set a fixed width for the sidebar */
}
.content {
  flex-grow: 1; /* Allow the content to take the remaining space */
}
.border-bottom {
  border-bottom: 1px solid black; /* Add bottom border */
}
.vertical-buttons a {
  font-size: 18px;
}